* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: PT Sans;
  color: #333333;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  height: 84px;
}

.logo {
  width: 80px;
  height: 52px;
}

.header__logo {
  margin-right: 70px;
}

.navigation {
  font-size: 15px;
}

.navigation__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.navigation__item {
  margin-right: 30px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  text-decoration: none;
  color: #333333;
}

.navigation__dropdown-button {
  margin-left: 10px;
  background-image: url("../img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 8px;
  width: 12px;
  display: inline-block;
}

.search-button {
  margin-left: 50px;
  background-image: url("../img/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.header__phone-link {
  margin-left: 34px;
  color: #6F6F6F;
  text-decoration: none;
  font-family: PT Sans Caption;
  font-size: 15px;
}

.login-container {
  margin-left: 103px;
}

.login-container__sign-in {
  text-decoration: none;
  color: #6F6F6F;
  font-family: PT Sans Caption;
  font-size: 14px;
}

.login-container__sign-in-icon {
  background-image: url("../img/sign-in.svg");
  background-repeat: no-repeat;
  background-size: 50px 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 11px;
}

.login-container__sign-up {
  margin-left: 20px;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  border-radius: 50px;
  padding: 15px 30px;
  font-family: PT Sans Caption;
  font-size: 14px;
  color: #333;
  border: 2px solid #EAEAEA;
  background-color: white;
  cursor: pointer;
  height: 50px;
}

.button_active {
  border-color: #FF6600;
  color: #FF6600;
}

.button_primary {
  background: #FF6600;
  color: #FFF;
}

main {
  width: 1200px;
  margin: 0 auto;
}

.main-promo__left-column {
  width: 628px;
}

.main-promo {
  display: flex;
  align-items: center;
  margin-top: 136px;
  gap: 88px;
}

.main-promo__header {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
  margin: 0;
  margin-bottom: 29px;
}

.main-promo__price {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: #FF6600;
  margin: 0;
  margin-bottom: 31px;
}

.main-promo__text {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  margin: 0;
  margin-bottom: 40px;
}

.main-promo__note {
  display: block;
  line-height: 24px;
  color: #999999;
  margin-top: 16px;
}

.main-promo__image {
  width: 484px;
  height: 307px;
}

.main-features {
  margin-top: 110px;
}

.main-features__header {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #333333;
  margin: 0;
  margin-bottom: 30px;
}

.main-features__columns-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.main-features__list {
  margin: 0;
  padding: 0;
}

.main-features__list_small {
  width: 894px;
}

.main-features__list-icon {
  background-image: url("../img/check-circle.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  display: inline-block;
  background-size: cover;
  flex-shrink: 0;
  margin-top: 4px;
}

.main-features__list-item {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  margin-bottom: 24px;
}

.main-features__list-item:last-child {
  margin-bottom: 0;
}

.main-features__list-item-text {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

.rent-advantages {
  margin-top: 110px;
}

.rent-advantages__header {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #333333;
  margin: 0;
  margin-bottom: 30px;
}

.rent-advantages__list {
  display: grid;
  grid-template-columns: 384px 384px 384px;
  grid-template-rows: 140px 140px;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.rent-advantages__list-item {
  list-style-type: none;
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  gap: 24px;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 42px 30px 42px 30px;
}

.rent-advantages__list-icon {
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: cover;
  display: inline-block;
  flex-shrink: 0;
}

.rent-advantages__list-icon_box {
  background-image: url("../img/box.svg");
}

.rent-advantages__list-icon_headphones {
  background-image: url("../img/headphones.svg");
}

.rent-advantages__list-icon_rub {
  background-image: url("../img/rub.svg");
}

.rent-advantages__list-icon_home {
  background-image: url("../img/home.svg");
}

.rent-advantages__list-icon_clock {
  background-image: url("../img/clock.svg");
}

.rent-advantages__list-icon_plus-circle {
  background-image: url("../img/plus-circle.svg");
}

.rent-advantages__trial-link {
  text-decoration: none;
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FF6600;
  display: inline-block;
  margin-top: 10px;
}

.target-audience {
  margin-top: 110px;
}

.target-audience__question {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #333333;
  margin: 0;
  margin-bottom: 23px;
}

.target-audience__text {
  font-size: 18px;
  line-height: 28px;
  width: 1100px;
  letter-spacing: 0.02em;
  color: #333333;
  margin: 0;
  margin-bottom: 40px;
}

.target-audience__buttons-container {
  display: flex;
  gap: 24px
}

.target-audience__columns-container {
  margin-top: 40px;
  display: flex;
  gap: 31px;
}

.target-audience__header {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 33px;
}

.target-audience__left-column,
.target-audience__right-column {
  flex-basis: 50%;
}

.target-audience__list {
  padding: 0;
  margin: 0;
}

.target-audience__item {
  list-style-type: none;
  line-height: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.target-audience__item:last-child {
  margin-bottom: 0;
}

.target-audience__item-icon {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
  background-size: cover;
  flex-shrink: 0;
  margin-right: 24px;
}

.features-comparison {
  margin-top: 110px;
}

.features-comparison__header {
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 40px;
}

.features-comparison__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 10px 10px;
}

.features-comparison__table-header {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.features-comparison__table-header-cell {
  padding: 47px 60px 25px;
}

.features-comparison__table-header-cell_opportunities {
  width: 720px;
  text-align: left;
}

.features-comparison__table-header-cell_mark {
  width: 240px;
  text-align: center;
}

.features-comparison__table-cell {
  border-bottom: 2px solid #EAEAEA;
  padding: 20px 60px;
}

.features-comparison__table-cell_mark {
  text-align: center;
}

.features-comparison__table-body {
  line-height: 24px;
}

.features-comparison__minus {
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 5px;
  display: inline-block;
  background-size: cover;
  margin-bottom: 4px;
}

.features-comparison__check {
  background-image: url("../img/check-green.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
  background-size: cover;
}

.slider {
  margin-top: 40px;
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__img-container {
  position: relative;
  width: 792px;
  height: 520px;
}

.slider__image_real {
  position: relative;
  z-index: 3;
}

.slider__image_fake {
  position: absolute;
}

.slider__image_fake:nth-child(2) {
  top: 8px;
  left: 8px;
  z-index: 2;
}

.slider__image_fake:nth-child(3) {
  top: 16px;
  left: 16px;
  z-index: 1;
}

.slider__button {
  width: 102px;
  height: 80px;
  border-radius: 170px;
  border-width: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__button_left {
  background-color: #FF6600;
  background-image: url("../img/arrow-left.svg");
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.slider__button_right {
  background-color: #E2E2E2;
  background-image: url("../img/arrow-right.svg");
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.slider__points-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  gap: 24px;
  justify-content: center;
}

.slider__point {
  list-style-type: none;
  width: 10px;
  height: 10px;
  background-color: #999999;
  border-radius: 50%;
}

.slider__point_active {
  background-color: #FF6600;
}

.trial {
  margin-top: 110px;
}

.trial__header {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 50px;
}

.trial__accent {
  color: #FF6600;
  font-style: normal;
}

.trial__inputs-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.trial__input {
  width: 384px;
  height: 64px;
  padding: 16px 28px;
  border: 1px solid #B6B6B6;
  border-radius: 5px;
  color: #6F6F6F;
}

.trial__note {
  font-family: PT Sans;
  font-size: 14px;
  line-height: 29px;
  color: #6F6F6F;
  margin-bottom: 33px;
  display: block;
}

.trial__submit-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.trial__agreement {
  font-size: 14px;
  line-height: 20px;
  color: #6F6F6F;
  margin: 0;
}

.trial__link {
  color: #FF6600;
}

.statistics {
  margin-top: 132px;
}

.statistics__header {
  margin-bottom: 45px;
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}

.statistics__columns-container {
  display: flex;
  align-items: center;
}

.statistics__list {
  display: grid;
  grid-template-columns: 320px 330px;
  grid-template-rows: auto;
  gap: 40px 10px;
  padding: 0;
  margin: 0;
}

.statistics__list-header {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 32px;
  line-height: 56px;
  color: #178A00;
  margin: 0;
  padding: 0;
}

.statistics__list-item {
  margin: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.statistics__list-text {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.statistics__link {
  margin-top: 31px;
  display: inline-block;
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #F76201;
}

.statistics__image {
  width: 464px;
  height: 333px;
}

.other-products {
  margin-top: 122px;
}

.other-products__list-item-columns-container {
  display: flex;
  align-items: center;
  gap: 44px;
  margin-bottom: 26px;
}

.other-products__list-item-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.other-products__list-item-icon_rose {
  background-image: url("../img/rose.svg");
}

.other-products__list-item-icon_book {
  background-image: url("../img/book.svg");
  width: 82px;
}

.other-products__list-item-icon_files {
  background-image: url("../img/files.svg");
}

.other-products__header {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  padding: 0;
  margin: 0;
  margin-bottom: 82px;
}

.other-products__columns-container {
  display: flex;
  gap: 81px;
  margin: 0;
  padding: 0;
}

.other-products__column {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.other-products__column:nth-child(1) {
  flex-basis: 328px;
}

.other-products__column:nth-child(2) {
  flex-basis: 333px;
}

.other-products__column:nth-child(3) {
  flex-basis: 345px;
}

.other-products__list-item-header {
  margin: 0;
}

.other-products__list-item-header_small {
  flex-basis: 151px;
}

.other-products__list-item-text {
  margin: 0;
  margin-bottom: 15px;
  line-height: 24px;
}

.other-products__list-item-link {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #F76201;
}

.footer {
  margin-top: 164px;
}

.footer__nav-columns-container {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  width: 1200px;
  margin: 0 auto;
}

.footer__nav-column:nth-child(1) {
  flex-basis: 30%;
}

.footer__nav-column:nth-child(2) {
  flex-basis: 25%;
}

.footer__nav-column:nth-child(3) {
  flex-basis: 20%;
}

.footer__nav-column:nth-child(4) {
  flex-basis: 25%;
}

.footer__nav-header {
  font-weight: 700;
  size: 16px;
  line-height: 32px;
}

.footer__nav-list {
  padding: 0;
  margin: 0;
}

.footer__nav-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  list-style: none;
}

.footer__nav-list-link {
  text-decoration: none;
  color: #333333;
}

.footer__show-more-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  display: block;
  color: #FF6500;
  margin-top: 22px;
  text-decoration: none;
}

.footer__show-more-icon {
  display: inline-block;
  background-image: url("../img/v.svg");
  width: 12px;
  height: 8px;
  margin-left: 9px;
}

.footer__info-columns-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 81px;
}

.footer__logo {
  margin-right: 36px;
}

.footer__info-column {
  width: 319px;
}

.footer__info-column-header {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

.footer__info-column-text {
  margin: 0;
  margin-top: 14px;
}

.footer__social-list {
  display: flex;
  gap: 9px;
  margin: 0;
  margin-left: 81px;
  padding: 0;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-link {
  display: inline-block;
  height: 52px;
  width: 52px;
  background-color: #FF6600;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__social-link_inst {
  background-image: url('../img/inst.svg');
}

.footer__social-link_fb {
  background-image: url('../img/fb.svg');
}

.footer__social-link_vk {
  background-image: url('../img/vk.svg');
}

.footer__social-link_ok {
  background-image: url('../img/ok.svg');
}

.footer__social-link_youtube {
  background-image: url('../img/youtube.svg');
  margin-right: 43px;
}

.footer__app-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.footer__app-list-item {
  list-style-type: none;
}

.footer__app-list-link {
  display: inline-block;
  height: 53px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__app-list-link_apple {
  background-image: url('../img/apple.svg');
  width: 156px;
}

.footer__app-list-link_google {
  background-image: url('../img/google.png');
  width: 178px;
}

.footer__border-info {
  background: #F4F4F4;
  margin-top: 35px;
}

.footer__border-info-text-container {
  display: flex;
  height: 64px;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  font-family: PT Sans Caption;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
}

.footer__border-text {
  margin: 0;
}

.footer__border-copyright {
  margin: 0;
}

.footer__border-link {
  color: #333333;
}
