* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: PT Sans;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  height: 84px;
}

.logo {
  width: 80px;
  height: 52px;
  margin-right: 70px;
}

.navigation {
  font-size: 15px;
}

.navigation__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.navigation__item {
  margin-right: 30px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  text-decoration: none;
  color: #333333;
}

.navigation__dropdown-button {
  margin-left: 10px;
  background-image: url("../img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 8px;
  width: 12px;
  display: inline-block;
}

.search-button {
  margin-left: 50px;
  background-image: url("../img/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.header__phone-link {
  margin-left: 34px;
  color: #6F6F6F;
  text-decoration: none;
  font-family: PT Sans Caption;
  font-size: 15px;
}

.login-container {
  margin-left: 103px;
}

.login-container__sign-in {
  text-decoration: none;
  color: #6F6F6F;
  font-family: PT Sans Caption;
  font-size: 14px;
}

.login-container__sign-in-icon {
  background-image: url("../img/sign-in.svg");
  background-repeat: no-repeat;
  background-size: 50px 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 11px;
}

.login-container__sign-up {
  margin-left: 20px;
}

.button {
  display: inline-block;
  text-decoration: none;
  background: #FF6600;
  color: #FFF;
  font-weight: 700;
  border-radius: 50px;
  padding: 15px 30px;
  font-family: PT Sans Caption;
  font-size: 14px;
}

main {
  width: 1200px;
  margin: 0 auto;
}

.main-promo__left-column {
  width: 628px;
}

.main-promo {
  display: flex;
  align-items: center;
  margin-top: 136px;
  gap: 88px;
}

.main-promo__header {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
  margin: 0;
  margin-bottom: 29px;
}

.main-promo__price {
  font-family: PT Sans Caption;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: #FF6600;
  margin: 0;
  margin-bottom: 31px;
}

.main-promo__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  margin: 0;
  margin-bottom: 40px;
}

.main-promo__note {
  display: block;
  line-height: 24px;
  color: #999999;
  margin-top: 16px;
}

.main-promo__image {
  width: 484px;
  height: 307px;
}
